<table>	
	<% @results.each do |result| %>
		<tr>
			<td><img src="<%= result.artwork_url %>" /></td>
			<td><a href="/tracks/play/<%= result.id %>"><%= result.title %></a></td>
			<!-- <td><a href="/tracks/play?id=<%= result.id %>"><%= result.title %></a></td> -->
		</tr>
	<% end %>
</table>